body {
  margin: 0;
  font-family: "Petlink", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.brann-page-loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.brann-logo-wrapper {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #333;
}

.brann-registeration-step-wrapper {
  margin: 2rem 0;
  .ant-steps {
    max-width: 350px;
    margin: 0 auto;

    .ant-steps-item {
      margin: 0.75rem 0;
      opacity: 0.5;

      .ant-steps-icon {
        color: gray !important;
      }

      &.ant-steps-item-active {
        opacity: 1;
        .ant-steps-icon {
          color: green !important;
        }
      }

      .ant-steps-item-title {
        color: white !important;
      }
      .ant-steps-item-description {
        color: rgba(255, 255, 255, 0.7) !important;
      }
    }
  }
}

.brann-paper {
  background: #fff;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.brann-centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brann-link:hover {
  color: #fcd4b8 !important;
}

.brann-primary-button {
  background-color: #010101;
  color: #fff;
  &:hover {
    background-color: #f0ae89 !important;
  }
}

.brann-active-button {
  background-color: #4bc11f;
  color: #fff;
  &:hover {
    background-color: #f0ae89 !important;
  }
}

.brann-secondary-button {
  border: 1px solid #010101 !important;
  background-color: transparent;
  color: #010101;
  &:hover {
    background-color: #010101 !important;
    color: #fff !important;
  }
}

.ant-menu-item {
  color: #fff;
  margin: 10px 0px !important;
  border-left: 5px solid transparent;
  svg {
    min-width: 20px;
  }
  span {
    margin-left: 10px;
    font-size: 16px;
  }
}
.ant-menu-item-selected {
  background-color: transparent !important;
  border-left: 5px solid #f0ae89;
  color: #f0ae89 !important;
}

.ant-table {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ant-progress {
  .anticon {
    margin: 0px !important;
  }
}

.ant-modal-content {
  padding: 0 !important;
}

.ant-dropdown-button {
  button {
    background: #010101;
    &:before {
      background-color: #ccc !important;
    }
  }
}

.quill {
  display: flex;
  flex-direction: column-reverse;
  .ql-container {
    background: #fff;
    border-top: 1px solid #ccc !important;
  }
  .ql-toolbar {
    border-top: 0 !important;
  }
}

.app-layout {
  min-height: 100vh;
  .ant-layout-sider,
  .ant-menu {
    background: #010101;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 0 24px;
    height: 80px;
    .nav {
      margin-left: 20px;
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 20px;
    }
  }
  main {
    height: calc(100vh - 80px);
    overflow-y: auto;
    padding: 32px;
  }
}

.header-menu {
  & ul > li {
    svg {
      min-width: 20px;
    }
    span {
      margin-left: 10px;
      font-size: 16px;
    }
  }
}

.vertical-align-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.align-items {
  display: flex;
  align-items: center;
}

.flex-row {
  display: flex;
  gap: 10px;
}
